.addressclass{
    border: 1px solid gray;
    color:teal;
}
.gradient-image{
    background-image: url(images/1555403488_fun-sun-clipart-1.jpg);
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    /* background-size: contain; */
    background-position: top -300px right -300px;
}
.gradient-image-2{
    background-image: url(images/1555403488_fun-sun-clipart-1.jpg);
    background-repeat: no-repeat;
    
    background-position: bottom -300px right -300px;
}
h1{
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}